body {
    font-family: "Poppins", sans-serif;
    background-color: #d2c8bc;
}

.headContainer {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 37px;
    color: #29505c;
    text-align: center;
}

h2 {
    color: #3d2d24;
    font-size: 30px;
}

h3 {
    color: #29505c;
    font-size: 23px;
}

p {
    color: #3d2d24;
    text-align: center;
}

.descriptionPar {
    font-size: 18px;
}

.showMoreBtn {
    border: none;
    background-color: #d2c8bc;
    font-style: italic;
    color: #29505c;
}

.showMoreBtn:hover {
    font-weight: bolder;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.giftContainer {
    display: flex;
    align-items: center;
}

.giftImg {
    width: 400px;
}

.prevNextBtn {
    border: none;
    background-color: #d2c8bc;
    font-weight: bolder;
    font-size: 16px;
    padding: 20px;
}

.prevBtn:hover {
    font-size: 18px;
}

.nextBtn:hover {
    font-size: 18px;
}

.price {
    font-size: 14px;
    font-weight: bolder;
}

.buyBtn {
    text-decoration: none;
    color: #ba9a88;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
}

.buyBtn:hover {
    font-size: 17px;
    color: #3d2d24;
}

.btnDltContainer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 70px;
}

.dltBnt {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ba9a88;
    color: #3d2d24;
    font-size: 15px;
    font-weight: bolder;
    border: 2px, solid, #3d2d24;

}

.dltBnt:hover {
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px
}

.clearAllContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.clearAllBnt {
    border: none;
    background-color: #29505c;
    font-size: 17px;
    color: #d2c8bc;
    font-weight: bolder;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

.clearAllBnt:hover {
    font-size: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 170px;
    padding-right: 170px;
}


@media all and (max-width: 450px) {

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 15px;
    }
    
    .descriptionPar {
        font-size: 13px;
    }

    .showMoreBtn {
        font-size: 11px;
    }

    .giftImg {
        width: 250px;
    }

    .prevNextBtn {
        font-size: 10px;
        padding: 5px;
    }
    
    .prevBtn:hover {
        font-size: 12px;
    }
    
    .nextBtn:hover {
        font-size: 12px;
    }

    .price {
        font-size: 11px;
    }
    
    .buyBtn {
        font-size: 13px;
    }
    
    .buyBtn:hover {
        font-size: 14px;
    }

    .btnDltContainer {
        margin-bottom: 40px;
    }

    .dltBnt {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 13px;
        border: 1px, solid, #3d2d24;
    
    }
    
    .dltBnt:hover {
        padding-top:6px;
        padding-bottom: 6px;
        padding-left: 17px;
        padding-right: 17px;
        font-size: 14px
    }

    .clearAllContainer {
        margin-bottom: 30px;
    }
    
    .clearAllBnt {
        font-size: 15px;
        padding-top:7px;
        padding-bottom: 7px;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .clearAllBnt:hover {
        font-size: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 90px;
        padding-right: 90px;
    }

}

